/* Colors */
$main-dark: #191919;
$brand-main-color: #ff0000;
$background-main: #ffffff;
$main-dark--hover: #282828;
$hover-light: #F58220;
$sidebar-txt: #999999;
$border-color: #e3e3e3;
$link-color: #56819F;
$additional-font: #979797;
$background-content: #F5F5F2;
$extra-sidebar: #333333;
$active-color: #04AE00;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$icon-font: Glyphter;