@import 'page-calendar';

.page-header {
  width: 100%;
  height: 48px;
  background: white;
  border-bottom: 1px solid $border-color;
  line-height: 46px;
  padding-left: 15px;
  color: $sidebar-txt;
  letter-spacing: -1px;
  font-weight: 500;
  text-align: left;
}

.page-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-content {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.table-2col {
  @include flex-row;
  width: 100%;
  justify-content: space-between;
}

.table-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
}

.table-row {
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 9px 0;

  &:hover {
    background: $background-content;

    .table-row--icons {
      visibility: visible;
    }
  }
}

.table-row--txt {
  color: $sidebar-txt;
  font-weight: bold;
}

.table-row--amount {
  color: $main-dark;
}

.table-simple {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
  padding: 55px 15px 0 0;
}

.buttons-wrapper {
  @include flex-row;
  width: 100%;
  justify-content: space-between;
  padding: 25px 22% 15px 22%;
}

.graph-wrapper {
  width: 100%;
  display: flex;
  padding: 25px 10% 15px 10%;
}

@media (max-width: 569px) { 
  .graph-wrapper {
    padding: 20px 2% 10px 2%;
  }
}
